<a href="https://colab.research.google.com/github/SrikarSai99/NNDL/blob/main/NNDL_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import math as mt
import random
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/My Drive/NNDL Datasets/Dataset.csv')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

In [ ]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])

data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)

In [ ]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

In [ ]:
m1=data['X'].mean()
m2=data['Y'].mean()
data['X'].fillna(value=m1, inplace=True)
data['Y'].fillna(value=m2, inplace=True)
data

           X         Y
0   0.223183  0.995346
1   0.209343  0.990692
2   0.458478  0.955207
3   0.906574  1.000000
4   0.628028  0.963933
5   0.861592  0.026178
6   0.910035  0.727167
7   0.000000  0.914485
8   0.775087  0.000000
9   0.489619  0.584061
10  0.200692  0.521815
11  0.927336  0.573008
12  0.643599  0.579988
13  0.532872  0.602094
14  0.202422  0.565445
15  0.060554  0.578825
16  0.069204  0.579407
17  0.271626  0.602094
18  0.823529  0.592787
19  0.747405  0.606166
20  0.456747  0.574171
21  0.474048  0.617219
22  0.200692  0.559046
23  0.676471  0.502036
24  1.000000  0.605585
25  0.237024  0.617219
26  0.242215  0.620710
27  0.340830  0.600931
28  0.382353  0.567772
29  0.619377  0.670739

In [ ]:
from sklearn.model_selection import train_test_split
x = data['X']
y = data['Y']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)

In [ ]:
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

# Loop for epochs
for _ in range(epochs):
    gradM = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i] for i in range(trainX.shape[0])])
    gradM /= trainX.shape[0]
    gradC = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) for i in range(trainX.shape[0])])
    gradC /= trainX.shape[0]
    c += - eta * gradC
    m += - eta * gradM

print("Value of m = ", m )
print("Value of c = ",c)

Value of m =  -0.1533400188403353
Value of c =  0.6966965138700099

In [ ]:
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

# Denormalization of Output Values
train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

# Training Error Calculation
training_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
training_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
training_RMSE = training_MSE ** 0.5
print('Training Error :')
print(f'MAE : {training_MAE}')
print(f'MSE : {training_MSE}')
print(f'RMSE : {training_RMSE}')

Training Error :
MAE : 26.709719533650908
MSE : 1532.819342357616
RMSE : 39.15123679218341

In [ ]:
testing_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
testing_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
testing_RMSE = testing_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {testing_MAE}')
print(f'MSE : {testing_MSE}')
print(f'RMSE : {testing_RMSE}')

Testing Error :
MAE : 19.05251516524684
MSE : 532.4762041585828
RMSE : 23.07544591462065

In [ ]:
x = float(input('Enter Pressure of Liquid Nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight =', prediction)

Enter Pressure of Liquid Nitrogen : 100
Predicted Weight = 509.22379438094833